@charset "utf-8";

* {margin: 0;padding: 0; box-sizing: border-box;}
ul:after {content:""; display: block; clear:both;}
li {list-style: none}
a {color: inherit;text-decoration: none}
a:hover {text-decoration:none;}
button {background: none;border: 0px;}

header {position:relative;}
header h1 {text-align: center;padding: 1em 0;}
header h1 a {display: inline-block;text-align: center;padding: 1em; color: #000; background: #f1f1f1;width: 400px; }
body {overflow: scroll;font-size: 16px;}

.t_center {text-align: center;;}
.mt10 {margin-top: 10px;}

.checkbox,.radio {position: relative;display: inline-block;cursor:pointer;vertical-align: middle;color:#aaa;}
.checkbox input, .radio input {position: absolute; left:0; top:0; width: 30px; height:30px; z-index: 1;opacity: 0;;}
.checkbox input:checked, .checkbox input:focus, .radio input:checked, .radio input:focus {outline:none;}
.checkbox input+.lbl, .radio input+.lbl {position: relative; display: inline-block; margin: 0; line-height: 22px; padding: 4px 0 4px 35px; font-weight: normal; vertical-align: top;word-break: break-all;}
.checkbox input:checked+.lbl, .radio input:checked+.lbl {color: #222;}
.checkbox input+.lbl:before, .radio input+.lbl:before {content:"";display: inline-block;width:30px; height:30px; position:absolute; left:0; top:0; background: #fff; border:2px solid #ccc; border-radius:50%; box-shadow: 0 1px 2px rgba(0,0,0,0.1);box-sizing:border-box; transition:border 0.3s;}
.checkbox input:checked+.lbl:before, .radio input:checked+.lbl:before {border-color: palevioletred;}
.checkbox input+.lbl:after, .radio input+.lbl:after {content:"";display:inline-block;position:absolute;transition:border 0.3s;}
.checkbox input+.lbl:after {width: 12px; height:6px; top:8px; left:7px; border:4px solid #ccc;border-top:none; border-right:none; transform:rotate(-45deg);}
.checkbox input:checked+.lbl:after, .radio input:checked+.lbl:after {border-color:palevioletred}

.radio input+.lbl:after {left:0;top:0;width: 18px; height:18px; border:6px solid #ddd;border-radius:100%;}
.switch {display: inline-block;vertical-align: middle;}
.switch input {position: absolute;left: -9999px;opacity: 0;}
.switch span {position: relative;width: 65px; height: 26px;background: #e8e8e8;display: inline-block;border-radius: 13px;cursor: pointer;-webkit-transition: 150ms linear;transition: 150ms linear; font-size: 12px;}
.switch input:checked+span {background: #dd0000;}
.switch span:before {content: "off";position: absolute;right: 10px;top: 5px; color: #999999;text-transform: uppercase;line-height: 14px;}
.switch input:checked+span:before {content: "on";left: 12px;color: #fff;}
.switch span:after {content: "";display: block;height: 22px; width: 22px;position: absolute;top: 2px;left: 2px;border-radius: 999px;background: #fff;-webkit-transition: 150ms linear;transition: 150ms linear;}
.switch input:checked+span:after {left: 41px;}
.button {position: relative;overflow: hidden;display: inline-block; padding: 10px;line-height: 20px; border:2px solid palevioletred; color: palevioletred; font-weight: bold;text-align: center;border-radius:8px}
.button.btn_black {border-color:#222;background: #222; color: #fff;}
.button.btn_red {border-color:#f00;background: #f00; color: #fff;}
.button.h50 {height:50px;font-size: 18px;}
.button.w400 {width: 400px;}
.button.h200 {height:200px;font-size: 50px;}
.button .btn-click-in {display: block;position:absolute;background: rgba(225,101,103,0.2);border-radius:100%;-webkit-transform:scale(0);transform:scale(0);}
.button .btn-click-in.animate {-webkit-animation:btnClickEf 0.65s linear;animation:btnClickEf 0.65s linear;}
.button2 {position:relative;overflow: hidden;display: inline-block;width: 320px; height:266px; font-size: 58px;line-height: 266px; background: #000;color: #fff; font-weight: bold;text-align: center;border-radius:8px}
.button2:before{content:"";display: block;border-style: solid;border-width: 0 0 266px 320px;border-color: transparent;border-left-color: #fff;position:absolute;top:0;left:0;opacity:0.12;}
@-webkit-keyframes btnClickEf {
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
@keyframes btnClickEf {
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}


#gnb  {background: #D9D9D9; } 
.main_gnb > li { float:left; width: 20%; text-align:center; padding:10px; position:relative;}
.main_gnb > li > a {display:block ; padding-top:5px; }
.main_gnb > li div {position:absolute; top:48px; left:68px; display:none;padding-top: 20px;z-index: 9;color: #404040;}
.main_gnb > li div:before {content:"";display:block; width: 20px; height:20px;margin:0 auto -10px;background: #E7B9C0;transform:rotate(-45deg);position:relative;z-index: 1;}
.main_gnb  div li {background:#E7B9C0 ;min-width: 100px;}
#gnb  div li a {display: block ; padding: 10px;position:relative;z-index: 2;}
.main_gnb  div li a:hover {background: #D898A2;}
.sticky_logo {display: none;padding: 1em; color: #000; background: #f1f1f1;width: 300px;text-align: center;}
.btn_gnb {display: none;}

.sticky #gnb  {box-shadow: 2px 2px 20px #898989;}
.sticky header {position:fixed;z-index: 9;width: 100%;}
.sticky h1 {display: none;}
.sticky .main_gnb {padding-left: 300px;}
.sticky .main_gnb > li {height:80px;padding-top: 17px;}
.sticky .main_gnb > li div {left: 36px;}
.sticky .slide_area {padding-top: 80px;}
.sticky .sticky_logo {display: block; position:absolute;top:0;left:20px;}

.container{min-height:100%;position:relative;}
.pop_bg {display: none;position: fixed;left: 0;right: 0;top: 0;bottom: 0;padding: 9px;background: rgba(0,0,0,0.7);overflow: auto; z-index: 200;}
.pop_wrap {position: relative;width: 470px;max-width: 100%;margin: 0 auto;background: #fff;}
.pop_head {padding: 15px 60px 15px 20px;background: palevioletred;}
.pop_head h2 {font-size: 1.25em;color: #fff;}
.pop_cont {padding: 30px 20px;}
.pop_foot{padding:10px;font-size:11px;overflow:hidden;margin:0;background:#ddd;}
.pop_foot input{margin:0;padding:0;margin-right:5px;vertical-align:middle;}
.pop_foot a{float:right;color:#222;padding: 7px 0;}
.pop_cont img{max-width:100%;vertical-align:middle;}

.pop_main {position: absolute; left: 0;top: 0px; z-index: 1;border: 1px solid #ddd;background: #fff;display: none;transition: left 0.5s ease,top 0.5s ease;z-index: 20;}


.slide_area {position:relative;overflow: hidden;}
.slide_area .owl-carousel .item {width:800px;height:300px;color: #fff; text-align: center;font-size: 2em;font-weight: bold;line-height: 300px;}
.slide_area .owl-carousel .banner01 {background: #aaa;}
.slide_area .owl-carousel .banner02 {background: #bbb;}
.slide_area .owl-carousel .banner03 {background: #ccc;}
.slide_area .owl-carousel .banner04 {background: #ddd;}
.slide_area .owl-carousel .banner05 {background: #333;}
.slide_area .owl-carousel .banner06 {background: #111;}
.slide_area .owl-carousel .banner07 {background: #666;}
.slide_area .owl-carousel .banner08 {background: #444;}
.slide_area .owl-nav .owl-prev,
.slide_area .owl-nav .owl-next {position:absolute;top:50%;left:50%;margin-left: -390px;margin-top: -25px;width: 50px; height:50px;text-indent: -999em;border:solid #fff; border-width:2px 2px 0 0 ;transform: rotate(225deg);}
.slide_area .owl-nav .owl-next {transform: rotate(47deg);right:50%;margin-right: -390px;left:auto;}
.slide_area .owl-dots {position:absolute;left:0;bottom:18px; width: 100%;text-align: center;}
.slide_area .owl-dots .owl-dot {display:inline-block;width: 20px; height:20px; border:2px solid #fff; margin-left: 10px;border-radius:10px;transition: width 0.2s}
.slide_area .owl-dot:first-child {margin: 0;}
.slide_area .owl-dots .owl-dot.active {width: 40px;background: #fff;}
.inner {position:relative;max-width: 1200px; margin: 0 auto;}
.quick {width: 100px; background: #D898A2;color: #f1f1f1; position:absolute;top:375px;right:-100px; }
.quick li {padding: 10px;font-size: 0.825em;}
section {min-height:400px;padding: 20px;}
.flex-container {display: flex;flex-wrap: wrap;background-color: #000;align-items: center;justify-content: center; }
.flex-container > div {background-color: #f1f1f1;width: 100px; margin: 10px;text-align: center;line-height: 75px;font-size: 30px;}

.join_people{position: relative;max-width:1010px;margin:16px auto 0;}
/* .join_people:before{content:"";display: block;position: absolute;width:400%; height:396px;background-image:url('../images/NY/bg_ny_pattern1.jpg');left:-400%;margin-left:4px;background-position-x:100%;z-index:2;} */

.join_people li:before{content:'';display:block;width:100%;height:100%;position: absolute;;top:0;left:-4px;}
.join_people li{font-size:0;position: relative;padding-bottom:8px;}
.join_people li span{width:20%;display:inline-block;font-size:0;box-sizing:border-box;padding:0 4px; position: relative;transition: .3s all ease;-webkit-transition: .3s all ease;overflow: hidden;}
.join_people li span a{position: relative;overflow: hidden;display: block;width:100%;padding-bottom:100%;}
.join_people li span a:after{content:'';display: block;width:100%;height:100%;position: absolute;left:0;top:0;background:#000;opacity:0;transition: .3s all ease;-webkit-transition: .3s all ease;}
.join_people li span.active a:after{opacity:.6;transition: .3s all ease;-webkit-transition: .3s all ease;}
.join_people li span a img{height:100%;position: absolute;left:50%;top:0;transform:translateX(-50%);}
.join_people li p{position: absolute;top:202px;right:4px;width:396px;}
/* .join_people li p:before{content:'';display: block;width:400%;height:396px;background-image:url('../images/NY/bg_ny_pattern1.jpg');right:-400%;position: absolute;} */
.join_people li p img{width:100%;}
.join_people li p strong{font-size:16px;display: block;text-align: center;background:#000;color:#fff;line-height:60px;}
.join_people li span.bottom_thumb{top:8px;}

.menu2 {height:700px;}
.menu3 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9e6e8+0,f3dade+50,e9c0c4+100 */
background: #f9e6e8; /* Old browsers */
background: -moz-linear-gradient(top, #f9e6e8 0%, #f3dade 50%, #e9c0c4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9e6e8 0%,#f3dade 50%,#e9c0c4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9e6e8 0%,#f3dade 50%,#e9c0c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e6e8', endColorstr='#e9c0c4',GradientType=0 ); /* IE6-9 */
	
	
	height:500px;position:relative;}
.menu4 {height:500px; background: url(../images/jamsil.jpg) center center fixed no-repeat;background-size:100% 100%}
.menu6 {background: #000;overflow: hidden;}
.menu6 .bg {background:url(../images/bg_spin.jpg)center center no-repeat;width: 530px; height:530px;margin: 0 auto;animation: spin360 50s linear infinite;}
@keyframes spin360{
	100%{transform:rotate(360deg);}
}
.ui-progressbar {border: 2px solid #000;height: 40px;border-radius: 20px}
.ui-widget-header {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa7a5+0,fc2820+100 */
background: #ffa7a5; /* Old browsers */
background: -moz-linear-gradient(top, #ffa7a5 0%, #fc2820 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffa7a5 0%,#fc2820 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffa7a5 0%,#fc2820 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa7a5', endColorstr='#fc2820',GradientType=0 ); /* IE6-9 */;height: 100%;position:relative;border-radius: 20px 0 0 20px;}
.ui-widget-header:after {content:"";display:block;width:57px; height:46px;background:url(../images/flower_01.png) 0 0 no-repeat;background-size:cover;position:absolute;top:0;right:0;}
.calc {width:calc(100% - 200px); height:20px;background:#000;color:#fff; text-align:center;margin-bottom:20px;}
.no_calc {width:100%;}

.testbtn {position: relative;height:2000px}
.testbtn .button{position:fixed;bottom:0;left:50%;margin-left: -200px;;}

.count_list { counter-reset: num;  }
.count_list li:before{counter-increment: num;content:counter(num);}

@media only screen and (max-width:820px){
.slide_area .owl-nav .owl-prev {margin-left: 0;left:10px;}
.slide_area .owl-nav .owl-next {margin-right: 0;right:10px;}
}


@media only screen and (max-width: 760px) {
    .btn_gnb{ display: block;position: absolute;right: 3px;top:7px;width: 45px;height: 45px;text-indent: -999em;z-index: 9;}
    .main_gnb {position: fixed;width: 200px;left: 0;top: -2000px;margin: 0;background: #fff;overflow: hidden;transform: scale(0);transition: transform 0.3s ease 0s,top 0s ease 0.3s;z-index: 2;}
    #gnb {height:60px; }
    .btn_gnb i:before, .btn_gnb i:after, .btn_gnb i {position: absolute;display: block;left: 0;width: 19px;height: 3px;background: #222222;border-radius: 2px;}
    .btn_gnb i {left: 13px;top: 22px;}
    .btn_gnb i:before, .btn_gnb i:after {content: '';transition-duration: 0.3s, 0.2s;transition-delay: 0.5s, 0s;}
    .btn_gnb i:before {top: -7px;-webkit-transition-property: top, transform;transition-property: top, transform;}
    .btn_gnb i:after {bottom: -7px;-webkit-transition-property: bottom, transform; transition-property: bottom, transform;}
    
	
    .gnb_open .btn_gnb i {background: none;-webkit-transition: background 0s 0.3s;-webkit-transition: background 0s 0.3s; transition: background 0s 0.3s;}
    .gnb_open .btn_gnb i:before { background: #fff;top: 0px;width: 100%;-webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition-delay: 0s, 0.3s;transition-delay: 0s, 0.3s;}
    .gnb_open .btn_gnb i:after {background: #fff;bottom: 0px;width: 100%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);-webkit-transition-delay: 0s, 0.3s;transition-delay: 0s, 0.3s;}
    .gnb_open .main_gnb {top: 70px;transform: scale(1);transition-delay: 0.3s;}
    .main_gnb > li {float:none;width:100%;z-index: 2;background: #fff;}
    #gnb div li a {height:100%;}
    .main_gnb > li div {position: relative;display: none;top:0;left:0;}
    .main_gnb > li div:before {display: none;}
    .main_gnb > li {height:auto}
    .main_gnb div li {background:white;}
    .pop_main {left: 50% !important;transform: translateX(-50%);max-width: 90%;}

    .left_gnb .main_gnb {top:0;left:-2000px; transform:scale(1);transition: left 0.5s ease-in-out;}
    .gnb_open.left_gnb .main_gnb {top:0;left:0;height:100%;}
	.gnb_open.left_gnb {overflow:hidden;}
	.gnb_open.left_gnb:before {content:"";width: 100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,0.5);z-index: 2;}
    
}
